// Text-color
.my_blue_text {
  color:rgba(21,98,176,1)
}
/* NAVBAR + JUMBO STYLE AND POSITION */
.relative {
  position: relative;
}
.absolute {
  position:absolute;
  z-index:2;
  left:44%;
  top:25%;
}
.my_remove {
  padding-left: 0px;
  padding-right: 0px;
  overflow:hidden;
}
.btn.btn-warning {
  background-color: #FFC107;
}


/* MAIN SECTION SPONSOR */
.my_img_max {
  max-width: 436.25px;
  max-height: 330px;
  min-width: 420px;
  min-height: 330px;
}
.my_fix {
  position:fixed;
  z-index:2;
  color:white;
  opacity: 0.9;
  top:0%;
  left:67%;
  background-color: #FFC107;
  padding: 10px 10px 0px;
}
.title_space_around {
  margin-top : 25px;
  margin-bottom: 25px;
}
.my_custom_title {
  width: 50%;
  margin-left: 25%;
  border-radius: 25px;
  background-color: #FFC107;
  border: 1px solid black;
}
.right_butt {
 bottom: 50%;
 left: 100%;
 position: absolute;
}

.relat {
  position:relative;
}
.left-butt {
  position: absolute;
  bottom: 50%;
  left: -10px;
}
.my_shadow{
  display: inline-block;
  transform: translate(0);
  box-shadow: 1 1 1px black;
  -moz-osx-font-smoothing: grayscale;
}

.my_shadow:hover,
.my_shadow:active {
    transform: scale(1.04);
}
.my_mb-2 {
  margin-bottom: 2.5rem !important;
}

/* MAIN SECTION OTHER HOUSE */
.get_away_from_me {
  margin-top: 65px;
}

/* MAIN SECTION ABOUT US */
#carouselExample{text-align:center;margin-top:50px}#carouselExample .carousel-indicators{position:relative;bottom:0;height:150px}#carouselExample .carousel-indicators li{width:auto;height:auto;text-indent:0%;background-color:transparent;margin-left:20px;margin-right:20px;flex-direction:column}#carouselExample .carousel-indicators li img{transition:0.5s}#carouselExample .carousel-indicators li.active{transition:0.5s}#carouselExample .carousel-indicators li.active img{transform:scale(1.5);transition:transform 1s ease-in-out}#carouselExample .carousel-item{transition:1s linear}#carouselExample .blockquote{font-style:italic;font-weight:bold}#carouselExample small{text-align:right}#carouselExample i{color:#222}@media screen and (min-width: 320px) and (max-width: 767px){.carousel-title{font-size:18px;margin-top:20px}#carouselExample .blockquote{font-size:15px;text-align:center;margin:20px 0}#carouselExample small{text-align:center;display:block}#carouselExample .carousel-indicators li{margin-left:8px;margin-right:8px}#carouselExample .carousel-indicators li.active img{transform:scale(1.2)}}

.my_spacing {
  margin-top: 60px;
  padding-bottom: 50px;
}
