// Fonts
@import url('https://fonts.googleapis.com/css?family=Nunito');

// Variables
@import 'variables';

// Bootstrap
@import '~bootstrap/scss/bootstrap';

div {
    width: 400px;
    height: 400px;
}

h2 {
    text-align: center;
}
