// Fonts
@import url('https://fonts.googleapis.com/css?family=Nunito');

// Variables
@import 'variables';

// Bootstrap
@import '~bootstrap/scss/bootstrap';











/* Reset and general rules common to all page */
* {
  text-decoration: none;
  margin: auto 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Roboto', sans-serif;
}
/* style change for all scrolling-navbar */
.scrolled-nav {
  background:red;
  position:fixed;
  opacity: 0.8;
  z-index: 9000;
  width: 100%;
}
/* fixed button for return */
#myBtn {
  display: none;
  position: fixed;
  bottom: 20px;
  right: 30px;
  z-index: 99;
  border: none;
  outline: none;
  background-color: #FFC107;
  color: white;
  cursor: pointer;
  padding: 10px;
  border-radius: 25px;
  font-size: 12px;
}
#myBtn:hover {
  background-color: #555;
}
.my_nav_color {
  background: linear-gradient(to right, rgba(23,89,151,1) 10%, rgba(21,98,176,1) 19%, rgba(18,117,230,1) 38%, rgba(0,71,153,1) 73%, rgba(19,70,129,1) 93%, rgba(19,70,129,1) 97%);
}

main {
  background-color: #b8c6db;
  background-image: linear-gradient(315deg, #b8c6db 0%, #f5f7fa 74%);
}

.my_strong{
  font-weight: bold;
}
/* End Reset and general rules common to all page */

/* NAVBAR + JUMBO STYLE AND POSITION */
.relative {
  position: relative;
}
.absolute {
  position:absolute;
  z-index:2;
  left:44%;
  top:25%;
}
.my_remove {
  padding-left: 0px;
  padding-right: 0px;
  overflow:hidden;
}

/* MAIN SECTION SPONSOR */
.my_fix {
  position:fixed;
  z-index:2;
  color:white;
  opacity: 0.9;
  top:0%;
  left:67%;
  background-color: #FFC107;
  padding: 10px 10px 0px;
}
.title_space_around {
  margin-top : 25px;
  margin-bottom: 25px;
}
.my_custom_title {
  width: 50%;
  margin-left: 25%;
  border-radius: 25px;
  background-color: #FFC107;
  border: 1px solid black;
}
.right_butt {
 bottom: 50%;
 left: 100%;
 position: absolute;
}

.relat {
  position:relative;
}
.left-butt {
  position: absolute;
  bottom: 50%;
  left: -10px;
}
.my_shadow{
  display: inline-block;
  transform: translate(0);
  box-shadow: 1 1 1px black;
  -moz-osx-font-smoothing: grayscale;
}

.my_shadow:hover,
.my_shadow:active {
    transform: scale(1.04);
}

/* MAIN SECTION OTHER HOUSE */
.get_away_from_me {
  margin-top: 65px;
}

/* MAIN SECTION ABOUT US */
#carouselExample{text-align:center;margin-top:50px}#carouselExample .carousel-indicators{position:relative;bottom:0;height:150px}#carouselExample .carousel-indicators li{width:auto;height:auto;text-indent:0%;background-color:transparent;margin-left:20px;margin-right:20px;flex-direction:column}#carouselExample .carousel-indicators li img{transition:0.5s}#carouselExample .carousel-indicators li.active{transition:0.5s}#carouselExample .carousel-indicators li.active img{transform:scale(1.5);transition:transform 1s ease-in-out}#carouselExample .carousel-item{transition:1s linear}#carouselExample .blockquote{font-style:italic;font-weight:bold}#carouselExample small{text-align:right}#carouselExample i{color:#222}@media screen and (min-width: 320px) and (max-width: 767px){.carousel-title{font-size:18px;margin-top:20px}#carouselExample .blockquote{font-size:15px;text-align:center;margin:20px 0}#carouselExample small{text-align:center;display:block}#carouselExample .carousel-indicators li{margin-left:8px;margin-right:8px}#carouselExample .carousel-indicators li.active img{transform:scale(1.2)}}

.my_spacing {
  margin-top: 60px;
  padding-bottom: 50px;
}

/* FOOTER */
.edit_footer {
  color:white;
}
.edit_footer a{
  color:white;
}
.my_footer_color {
  background: linear-gradient(to bottom, rgba(64,159,247,1) 10%, rgba(54,151,247,1) 27%, rgba(35,136,246,1) 58%, rgba(20,125,245,1) 82%);
}
