// Fonts
@import url('https://fonts.googleapis.com/css2?family=Montserrat&display=swap');

// Bootstrap
@import '~bootstrap/scss/bootstrap';


// Variables
@import 'partials/_variables.scss';
@import 'partials/_homepage.scss';
@import 'partials/_search.scss';
@import 'partials/_board.scss';
@import 'partials/_detail.scss';
@import 'partials/_common.scss';
@import 'partials/_create.scss';
// @import 'partials/_edit.scss';
@import 'partials/_promo.scss';
@import 'partials/_show.scss';
@import 'partials/_checkbox.scss';
@import 'partials/_bacheca.scss';
@import 'partials/_bacheca.scss';
@import 'partials/_message_show.scss';
@import 'partials/_message.scss';


// Gestione spazio bianco con risultati piccoli
main {
  min-height: calc(100vh - 176px) !important;
}
