/* Reset and general rules common to all page */
* {
    text-decoration: none;
    margin: auto 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Roboto', sans-serif;
}

ul {
    list-style-type: none;
}

h2,
h3,
h4,
h5 {
    color: #3c3c3c;
}

.my_pointer {
    cursor: pointer;
}

/* style change for all scrolling-navbar */
.scrolled-nav {
    background: red;
    position: fixed;
    opacity: 0.8;
    z-index: 9000;
    width: 100%;
}

.jumbo_scroll {
    position: fixed;
    opacity: 0.9;
    z-index: 9000;
    -webkit-transform: translateZ(0);
}

/* fixed button for return */
#myBtn {
    display: none;
    position: fixed;
    bottom: 20px;
    right: 30px;
    z-index: 99;
    border: none;
    outline: none;
    background-color: #FFC107;
    color: white;
    cursor: pointer;
    padding: 10px;
    border-radius: 25px;
    font-size: 12px;
}

#myBtn:hover {
    background-color: #555;
}

.my_nav_color {
    background-image: linear-gradient(319deg, #663dff 0%, #aa00ff 37%, #cc4499 100%);
}

.my_strong {
    font-weight: bold;
}

/* End Reset and general rules common to all page */

/* FOOTER */
.edit_footer {
    color: white;
}

.edit_footer a {
    color: white;
}

.my_footer_color {
    background-image: linear-gradient(315deg, #6617cb 0%, #cb218e 74%);
}

/* SECTION SEARCH */
.my_section_padding {
    padding-bottom: 30px;
    background-image: url(/images/city.jpg);
    background-repeat: no-repeat;
    margin-bottom: 40px;
    height: 400px;
}

.background_my {
    padding-top: 25px;
    border-radius: 10px;
}

.add_red_my {
    color: red;
}

.my_container_spacing_right {
    margin-right: 25%;
}

.z-index-nav {
    z-index: 1000;
}
