// general style per message
.ms_single_message{
  font-family: 'Open Sans Condensed', arial, sans;
	padding: 30px;
	background: #FFFFFF;
	margin: 50px auto;
  border-radius: 10px;
	box-shadow: 0px 0px 15px rgba(0, 0, 0, 0.22);
	-moz-box-shadow: 0px 0px 15px rgba(0, 0, 0, 0.22);
	-webkit-box-shadow:  0px 0px 15px rgba(0, 0, 0, 0.22);
}
// sender section
.ms_single_message h1{
	text-transform: uppercase;
	font-family: 'Open Sans Condensed', sans-serif;
	color: #555;
	padding: 20px;
	margin: -30px -30px 30px -30px !important;
  color: rebeccapurple;
  font-weight: bold;
}
// object of message
.ms_object{
  box-sizing: border-box;
	-webkit-box-sizing: border-box;
	-moz-box-sizing: border-box;
	outline: none;
	display: block;
	width: 100%;
	border: none;
	border-bottom: 1px solid #ddd;
	background: transparent;
	margin-bottom: 10px;
	font-family: Arial, Helvetica, sans-serif;
	height: 45px;
}
.ms_object h2{
  font-size: 29px;
}
// test section
.ms_text p{
  	font: 16px Arial, Helvetica, sans-serif;
    min-height: 350px;
}
// media query
@media (max-width: 992px) {
  .ms_single_message h1 {
    	margin: -30px -60px 30px -30px;
  }
}
@media (max-width: 576px) {
  .ms_single_message h1 {
      margin: -30px -60px 30px -30px;
      font-size: 20px;
  }
  .ms_object h2{
    font-size: 18px;
  }
}
